<app-header></app-header>

<app-home-video-poster></app-home-video-poster>

<app-welcome-section></app-welcome-section>

<app-about-section></app-about-section>

<app-services-section></app-services-section>

<app-company-highlights></app-company-highlights>

<app-projects></app-projects>

<app-brands></app-brands>

<app-home-section></app-home-section>

<app-contact-us></app-contact-us>

<app-footer></app-footer>

<app-whats-app-icon></app-whats-app-icon>


<a href="#header" class="arrow-icon">
    <i class="fas fa-arrow-up fa-2xs"></i>
</a>