<div class="row g-0 mb-5">
    <div class="col-md-12 mb-5">
        <div class="wrapper position-absolute mb-5 d-none d-lg-block">
            <video src="../../../assets/700_F_380595949_zm2PiSF7YetGY3HmS3jHCumBPiAa5eyu_ST.mp4" type="video/mp4"
                poster="https://as2.ftcdn.net/v2/jpg/03/80/59/59/1000_F_380595949_zm2PiSF7YetGY3HmS3jHCumBPiAa5eyu.jpg"
                style="height: 67vh;
                width: 100%;
                object-fit: fill;" autoplay loop class="col-lg-12 mb-5">
                Sorry, your browser doesn't support HTML5 video tag.
            </video>
        </div>
        <div class="container text-md-primary text-light mt-5 d-flex align-items-center position-relative">
            <div class="row g-0">
                <div class="col-xl-6 col-xs-12">
                    <p class="text-uppercase poster-header-font poster-header-md-font pt-3">
                        Ready to transform your entrance?
                    </p>
                    <p class="font-medium">
                        Contact us today to learn more about our Automatic Revolving Doors and Automatic Swing Doors,
                        and
                        discover how we can help you create the perfect entrance for your space.
                    </p>
                    <div class="contact-us-btn-container">
                        <a href="#contact" class="text-decoration-none "><button type="button"
                                class="btn primary-button text-light text-uppercase">Contact Us</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>