<div class="row g-0 ">
    <section class="video-section">
        <div class="video-wrapper">
            <video autoplay loop muted
                src="../../../assets/700_F_380595949_zm2PiSF7YetGY3HmS3jHCumBPiAa5eyu_ST.mp4"></video>
        </div>
        <div class="content-wrapper mt-90">
            <div class="row d-flex justify-content-center g-0">
                <div class="offset-xs-1 col-xs-4">
                    <div class="heading text-uppercase poster-header-md-font pt-3 text-start">Ready to transform <br>
                        your <br>
                        entrance?</div>
                </div>
            </div>
            <div class="row d-flex justify-content-center g-0">
                <p class="subheading text-start mt-4">Contact us today to learn more about our Automatic Revolving Doors
                    <br>
                    and
                    Automatic
                    Swing
                    Doors,
                    and
                    discover how we can help you create <br> the perfect entrance for your space.
                </p>
            </div>
            <div class="row g-0 mb-180">
                <div class="contact-us-btn-container d-flex justify-content-start">
                    <a href="#contact" class="text-decoration-none "><button type="button"
                            class="btn primary-button text-light text-uppercase">Contact Us</button></a>
                </div>
            </div>

        </div>
    </section>
</div>