.font-size-60 {
    font: normal normal normal 60px/64px 'Hurme Geometric Sans 4';
}

.icon-container {
    transition: transform 0.3s ease-in-out;
}

.icon-container:hover {
    transform: rotate(5deg);
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}