<div class="background-primary text-light mt-3">
    <div class="container">
        <div class="row g-0">
            <div class="col-xs-12 mb-5">
                <img src="../../../assets/logo source black m -03.png" alt="">
            </div>
        </div>
        <div class="row g-0 d-md-flex justify-content-between">
            <div class="col-xl-3 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 footer-header-font mb-3">
                        Location
                    </div>
                    <div class="col-xs-12 footer-text-font mb-5">
                        Office No.501, 5th Floor, B8 Building, Al Barsha 1, Dubai.
                    </div>
                </div>
                <div class="row g-0 mb-5">
                    <div
                        class="col-xs-12 footer-header-font d-flex justify-content-between align-items-center footer-section">
                        <span>
                            Follow us
                        </span>
                        <a href="https://www.facebook.com/profile.php?id=100065309777435" target="_blank">
                            <img src="../../../assets/Icon awesome-facebook-f.svg" alt="Facebook" class="me-4">
                        </a>
                        <a href="https://www.linkedin.com/company/mpts-technology-services/" target="_blank">
                            <img src="../../../assets/Icon awesome-linkedin-in.svg" alt="LinkedIn" class="me-4">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 footer-header-font mb-3">
                        Services
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        Automatic Revolving Doors
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        Automatic Sliding Doors
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        Automatic Swing Doors
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        Bi-Folding Doors
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        Rolling Shutters
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 footer-header-font mb-3">
                        Call Center
                    </div>
                    <div class="col-xs-12 footer-text-font mb-4">
                        +971 50 247 1759
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-xs-12 footer-header-font">
                <span>
                    Find us
                </span>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-xs-12 mb-5">
                <iframe width="100%" height="400" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.816158529942!2d55.20299999999999!3d25.113527799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2s25.1135278%2C%2055.20299999999999!5e0!3m2!1sen!2sae!4v1623181603105!5m2!1sen!2sae"
                    allowfullscreen></iframe>

            </div>
        </div>

    </div>
</div>