.footer-header-font {
    font: normal normal bold 30px 'Poppins', sans-serif;
}

.footer-text-font {
    text-align: left;
    font: normal normal 300 20px Poppins;
}

.footer-section {
    transition: color 0.3s ease;
}

.footer-section a {
    transition: transform 0.3s ease;
}

.footer-section a:hover {
    transform: scale(1.5);
    opacity: 0.8;
}

.mb-20 {
    margin-bottom: 20px;
}

.pt-105 {
    padding-top: 105px;
}

.mb-140 {
    margin-bottom: 140px;
}