<div class="background-primary text-light p-5 font-size-text-medium">
    <div class="container align-items-center pt-5 font-size-text-medium">
        <div class="row g-0">
            <div class="col-xl-1 col-xs-12 rotated d-flex justify-content-end ">
                Check our previous experience and success stories with our clients
            </div>
            <div class="col-md-10 col-xs-12 projects-main-title font-size-text-medium">
                <span class="vertical-line d-flex p-3">OUR PROJECTS</span>

            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            DMCC
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and installation of rolling shutter for Brink’s cash services.
                        Al Mas Tower, Staff parking
                        Supply and Installation of CAME GT4 Gate Barriers.

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Glamz-Danube
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium ">
                        Supply and installation of Geze Automatic sliding door.
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Reef Lebanese Bakery, opportunity District, Expo 2020, Dubai
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of Dorma ES 200 Easy Automatic Sliding door.
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Farwania Restaurant, opportunity District, Expo 2020, Dubai
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of Dorma ES 200 Easy Automatic Sliding door.

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Mobility District, Expo 2020
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of Dorma ES 200 Easy Automatic Sliding door.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Firdaus studio by AR, Expo 2020
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of Dorma ES 200 Easy Automatic Sliding door.
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Office inside QE 2
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Record STA 21 Automatic Sliding door.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Sharjah Media City
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Automatic Sliding Door.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Lagash Contracting -office in Emarat Atrium
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Record STA 21 Automatic Sliding doors.
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0">
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Rams Bazaar Department store Al Jurf Ajman
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        3 nos Record STA 21 Automatic Sliding doors.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Nassima Tower
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of 6 nos Gate Barriers.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            DMCC Lounge Café
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Lighting control system.
                    </div>
                </div>
            </div>

        </div>

        <div class="row g-0">
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Salam Tower
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        ZKTECO Long Reader Range Reader with software.

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Al Razi Building, Dubai health care city
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        Supply and Installation of Long-Range Access control Reader with software.
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="row g-0">
                    <div class="col-xs-12 d-flex justify-content-center ">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="col-xs-12">
                        <div class="project-sub-title font-size-text-medium">
                            Zayed University, Dubai
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-50">
                    <div class="col-sm-12 font-size-25 text-center font-size-text-medium">
                        2-year AMC- Speed Lanes and ACS

                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="row g-0">
                <div class="col-md-4 col-xs-12">
                    <div class="col-xs-12 d-flex justify-content-center m-b-5">
                        <img src="../../../assets/security bollards.jpg" alt="" style="width: 420px; height: 420px;"
                            class="m-b-5">
                    </div>
                    <div class="project-sub-title font-size-text-medium">
                        Fitness Zone, City Walk

                    </div>
                </div>
            </div>
            <div class="row g-0 mb-50">
                <div class="col-md-4 col-sm-12 font-size-25 text-center font-size-text-medium">
                    Supply and Installation of DFA127- Automatic Swing Door Operator

                </div>
            </div>
        </div>
    </div>
</div>