.projects-main-title {
    font: normal normal bold 200px/172px 'Hurme Geometric Sans 4';
    padding-left: 5px;
}

.project-sub-title {
    text-align: center;
    font: normal normal 600 30px 'Hurme Geometric Sans 4';
}

.background-projects {
    background-image: url('../../../assets/background-blue.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.font-size-25 {
    font-size: 20px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-5 {
    margin-bottom: 5px;
}

img {
    border-radius: 60px;
    padding: 25px;
}

.vertical-line {
    border-left: 2px solid #ffffff;
}


@media (min-width: 1200px) {
    .rotated {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        height: 500px;
        width: 30px;
    }
}

@media (max-width: 1200px) {
    .projects-main-title {
        text-align: center;
    }
}