<div class="background-primary w-100 header-container " id="header">
    <div class="container p-4 font-size-20align-items-center w-100">
        <div class="row g-0 d-flex justify-content-between">
            <div class="col-xl-3 col-xs-12 d-flex align-items-center text-light header-section">
                <img src="../../../assets/Icon ionic-ios-call.svg" alt="call us icon" class="me-4 pb-1">
                <span class="text-light">+971 50 247 1759</span>
            </div>
            <div class="col-xl-3 col-xs-12 d-flex align-items-center header-section">
                <a href="mailto:info@mpts-me.com" class="text-decoration-none"><img
                        src="../../../assets/Icon material-email.svg" alt="email us icon" class="me-4 pb-1">
                    <span class="text-light">info@mpts-me.com</span></a>
            </div>
            <div class="col-xl-3 col-xs-12 d-flex align-items-center header-section">
                <div class="d-flex justify-content-center">
                    <a href="https://www.google.com/maps/place/25.113528010634145,55.20300807857989" target="_blank"
                        class="d-flex justify-content-center text-decoration-none">
                        <img src="../../../assets/Icon ionic-ios-pin.svg" alt="location" class="me-4 pb-1">
                        <span class="text-light">Dubai - Emirates, UAE</span>
                    </a>
                </div>

            </div>
            <div class="col-xl-3 col-xs-12 d-flex align-items-center justify-content-end header-section">
                <a href="https://www.facebook.com/profile.php?id=100065309777435" target="_blank">
                    <img src="../../../assets/Icon awesome-facebook-f.svg" alt="Facebook" class="me-5">
                </a>
                <a href="https://www.linkedin.com/company/mpts-technology-services/" target="_blank">
                    <img src="../../../assets/Icon awesome-linkedin-in.svg" alt="LinkedIn" class="me-5">
                </a>
                <a href="mailto:info@mpts-me.com" target="_blank">
                    <img src="../../../assets/Icon ionic-logo-googleplus.svg" alt="Google Plus" class="me-5">
                </a>
                <a href="https://instagram.com/mptstechnical?utm_medium=copy_link" target="_blank">
                    <img src="../../../assets/Icon feather-instagram.svg" alt="Instagram">
                </a>

            </div>
        </div>
    </div>

</div>

<nav class="container p-4 font-size-20 font-primary navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand img-nav" href="#"> <img src="../../../assets/MPTS Logo blue.png" alt="MPTS Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="navbarCollapsed = !navbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent" [class.collapse]="navbarCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font-color-primary nav-menu-text" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color-primary nav-menu-text" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color-primary nav-menu-text" href="#services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color-primary nav-menu-text" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-color-primary nav-menu-text" href="#FAQ">FAQ</a>
            </li>
        </ul>
    </div>
</nav>