<div class="background-primary w-100" id="header">
    <div class="container p-4 font-size-20  align-items-center w-100">
        <div class="row g-0 d-flex justify-content-between">
            <div class="col-lg-3 col-xs-12 d-flex align-items-center text-light header-section">
                <img src="../../../assets/Icon ionic-ios-call.svg" alt="call us icon" class="me-4 pb-1">
                <span class="text-light">+971 50 247 1759</span>
            </div>
            <div class="col-lg-3 col-xs-12 d-flex align-items-center header-section">
                <a href="mailto:info@mpts-me.com" class="text-decoration-none"><img
                        src="../../../assets/Icon material-email.svg" alt="email us icon" class="me-4 pb-1">
                    <span class="text-light">info@mpts-me.com</span></a>
            </div>
            <div class="col-lg-3 col-xs-12 d-flex align-items-center header-section">
                <div class="d-flex justify-content-center">
                    <a href="https://www.google.com/maps/place/25.113528010634145,55.20300807857989" target="_blank"
                        class="d-flex justify-content-center text-decoration-none">
                        <img src="../../../assets/Icon ionic-ios-pin.svg" alt="location" class="me-4 pb-1">
                        <span class="text-light">Dubai - Emirates, UAE</span>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-xs-12 d-flex align-items-center justify-content-end header-section">
                <a href="https://www.facebook.com/profile.php?id=100065309777435" target="_blank">
                    <img src="../../../assets/Icon awesome-facebook-f.svg" alt="Facebook" class="me-5">
                </a>
                <a href="https://www.linkedin.com/company/mpts-technology-services/" target="_blank">
                    <img src="../../../assets/Icon awesome-linkedin-in.svg" alt="LinkedIn" class="me-5">
                </a>
                <a href="https://instagram.com/mptstechnical?utm_medium=copy_link" target="_blank">
                    <img src="../../../assets/Icon feather-instagram.svg" alt="Instagram">
                </a>

            </div>
        </div>
    </div>

</div>

<div class="container p-4 font-size-20 align-items-center font-primary">
    <div class="row g-0 d-flex align-items-center font-color-primary">
        <div class="col-md-3 col-xs-12 text-xl-left d-flex justify-content-start text-sm-center">
            <img src="../../../assets/MPTS Logo blue.png" alt="MPTS Logo">
        </div>
        <div class="col-md-9 col-xs-12 text-uppercase d-flex align-items-center justify-content-between">
            <a class="font-color-primary text-decoration-none nav-menu-text" href="#home">Home</a>
            <a class="font-color-primary text-decoration-none nav-menu-text" href="#about">About</a>
            <a class="font-color-primary text-decoration-none nav-menu-text" href="#services">Services</a>
            <a class="font-color-primary text-decoration-none nav-menu-text" href="#contact">Contact</a>
            <a class="font-color-primary text-decoration-none nav-menu-text" href="#FAQ">FAQ</a>
        </div>
    </div>
</div>