<div class="container p-4 align-items-center brands-section mb-300 mb-200 ">
    <div class="row g-0 d-xl-flex justify-content-end">
        <div
            class="col-md-9 col-xs-12 offset-md-6 brands-main-header text-uppercase text-align-right font-color-primary mb-90">
            <div class="row g-0 align-items-center">
                <div class="col-md-11 col-xs-12 font-size-text-medium text-xl-end brands-heading pe-3">
                    <span class="vertical-line d-flex p-2">Our Brands</span>
                </div>
                <div class="col-md-1 col-xs-12 rotated font-size-25 font-size-text-medium">
                    Using the
                    best brands
                    guarantee our
                    service</div>
            </div>
        </div>
    </div>
    <div class="row g-0 d-flex justify-content-center mt-5 mb-5">
        <img src="../../../assets/brands.png" alt="our brands">
    </div>




</div>