.brands-main-header {
    font: normal normal bold 200px/200px 'Poppins';
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-300 {
    margin-bottom: 300px;
}

.mb-200 {
    margin-top: 200px;
}

.vertical-line {
    border-right: 2px solid #347EB8;
}

@media (min-width: 1200px) {
    .rotated {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        height: 800px;
    }
}

@media(max-width: 1200px) {
    .brands-main-header {
        text-align: center;
    }
}

.rotate-animation {
    opacity: 0;
    animation: fade-in 4s ease-in-out forwards infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}