.brands-main-header {
    font: normal normal bold 200px/200px 'Poppins';
}

.brands-section {
    margin-top: 208px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-300 {
    margin-bottom: 300px;
}

.mb-200 {
    margin-top: 200px;
}

@media(max-width: 1200px) {
    .brands-main-header {
        text-align: center;
    }
}