<div class="container p-4 align-items-center">
    <div class="row g-0 d-xl-flex justify-content-end">
        <div
            class="col-md-9 col-xs-12 offset-md-6 brands-main-header text-uppercase text-align-right font-color-primary">
            <div class="row g-0 align-items-center">
                <div class="col-md-11 col-xs-12 font-size-text-medium">Our Brands</div>
                <div class="col-md-1 col-xs-12 rotated font-size-25 font-size-text-medium">
                    Using the
                    best brands
                    guarantee our
                    service</div>
            </div>
        </div>
    </div>
    <!-- <div class="row g-0 d-flex justify-content-center">
        <div class="circle">
            MPTS
        </div>
    </div> -->
    <div class="row g-0 d-flex justify-content-center mt-5 mb-5">
        <img src="../../../assets/brands.png" alt="our brands">
    </div>




</div>