<div class="container mt-58" id="about">
    <div class="row">
        <div class="col-lg-6">
            <div class="image-wrapper">
                <img src="../../../assets/entrance-automation.png" alt="engineer" class="image">
                <img src="../../../assets/overlay-img.png" alt="Overlay" class="overlay">
                <div class="image-text mt-3">
                    <div class="row">
                        <div class="offset-xl-1 col-xs-12 col-xl-9">
                            <div class="font-60-bold text-start">Leaders In Entrance Automation Since 2006</div>

                        </div>
                        <div class="offset-xl-1 col-xl-11">
                            <hr>
                        </div>
                    </div>


                    <div class="row mt-50">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check me-4"></i>
                                    <span class="entrance-automation-text-font">Automatic Doors</span>
                                </div>
                                <div class=" col-xs-12 col-xl-5 offset-xl-1">
                                    <i class="fa-solid fa-check small-check me-4"></i>
                                    <span class="entrance-automation-text-font">Traffic Barriers</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Automatic Gates</span>
                                </div>
                                <div class=" col-xs-12 col-xl-5 offset-xl-1 ">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Security Bollards</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Rolling Shutters</span>
                                </div>
                                <div class=" col-xs-12 col-xl-5 offset-xl-1 ">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Road Blockers</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Garage Doors</span>
                                </div>
                                <div class=" col-xs-12 col-xl-5 offset-xl-1 ">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Security Turnstile</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Industrial Doors</span>
                                </div>
                                <div class=" col-xs-12 col-xl-5 offset-xl-1 ">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Access Control</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-15">
                        <div class="col-xl-12 col-xs-12 text-start">
                            <div class="row g-0">
                                <div class="offset-xl-1 col-xs-12 col-xl-5">
                                    <i class="fa-solid fa-check small-check  me-4"></i>
                                    <span class="entrance-automation-text-font">Revolving Doors</span>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="row g-0">
                <div class="paragraph-wrapper col-xl-8 text-left">
                    <p>
                        MPTS was founded in Egypt in 2006, MPTS has been effectively supplying, installing and
                        maintaining automatic doors and security entrance solutions within the region. Over the years,
                        we strived to build a strong reputation in the door industry by providing our customers with
                        only the highest quality products and services. We then decided to expanded our expertise to the
                        UAE market and established our first branch in 2019.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>