<div class="container p-4 mt-58" id="about">
    <div class="row g-0">
        <div class="col-xl-7 d-xs-none col-xs-12 font-60-bold position-relative">
            <div class="row g-0 d-none d-xl-block">
                <img src="../../../assets/entrance-automation.png" alt="engineer" class="entrance-automation-img">
                <img src="../../../assets/overlay-img.png" alt="overlay" class="overlay-image">
            </div>
        </div>
    </div>
    <div class="row mt-4 g-0 text-light text-md-primary position-relative">
        <div class="col-xl-6 col-xs-12 font-60-bold pb-5">
            <div class="row g-0 mb-5 d-xs-flex justify-content-start ms-xl-2">
                <div class="col-xl-8 col-xs-12 z-index-10">
                    Leaders In Entrance Automation Since 2006
                </div>
            </div>
            <div class="row g-0">
                <div class="col-sm-12 offset-sm-1 col-xs-12 secondary-border"></div>
            </div>
            <div class="row g-0 max-height-29">
                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Automatic Doors</span>
                </div>

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Traffic Barriers</span>
                </div>
            </div>

            <div class="row g-0 max-height-29">
                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Automatic Gates</span>
                </div>

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Security Bollards</span>
                </div>
            </div>

            <div class="row g-0 max-height-29">
                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Rolling Shutters</span>
                </div>

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Road Blockers</span>
                </div>
            </div>

            <div class="row g-0 max-height-29">
                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Garage Doors</span>
                </div>

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Security Turnstile</span>
                </div>
            </div>

            <div class="row g-0 max-height-29">

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Industrial Doors</span>
                </div>

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Access Control</span>
                </div>
            </div>

            <div class="row g-0 max-height-29">

                <div class="col-xl-4 col-xs-12 z-index-10">
                    <i class="fa-solid fa-check small-check p-2"></i>
                    <span class="entrance-automation-text-font">Revolving Doors</span>
                </div>
            </div>

        </div>
        <div class="col-xl-6 col-lg-12 pt-5 mt-5">
            <p class="font-color-primary entrance-automation-section-right-font position-relative pt-4 pl-5">
                MPTS was founded in Egypt in 2006, MPTS has been effectively supplying, installing and maintaining
                automatic
                doors and security entrance solutions within the region. Over the years, we strived to build a strong
                reputation in the door industry by providing our customers with only the highest quality products and
                services. We then decided to expanded our expertise to the UAE market and established our first branch
                in
                2019.
            </p>
        </div>
    </div>
</div>