<div class="container font-color-primary">
    <div class="row g-0 justify-content-center align-items-center">
        <div class="col-xs-12 d-flex justify-content-center">
            <div class="welcome-font text-uppercase text-center">Welcome To MPTS</div>
        </div>
    </div>
    <div class="row g-0 d-flex justify-content-center align-items-center">
        <div class="col-xl-9 col-xs-12 d-flex justify-content-center align-items-center">
            <div class="pioneers-font font-size-text-medium text-capitalize">pioneers of automation</div>
            <div class="d-none d-xl-block ms-1 col-sm-5 primary-border mt-3 ">
            </div>
        </div>
    </div>
    <div class="row g-0 d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="font-size-25 low-opacity text-align-center">Visit our office in DUBAI, now we offer free
                inspection for all
                our products.
                Meet
                our <br> sales team for a free consultation, get the cheapest price quotes, and the best quality!
            </div>
        </div>
    </div>
</div>