<div class="light-secondary-background font-color-primary" id="contact">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 col-xs-12">
                <div class="row g-0">
                    <div class="col-md-6 col-xs-12 contact-us-header">
                        CONTACT
                    </div>
                </div>
                <div class="row g-0 d-flex justify-content-between">
                    <p class="col-md-3 d-xs-none contact-us-border-bottom">

                    </p>
                    <div class="col-md-3 col-xs-12 contact-us-header d-flex justify-content-end">
                        US
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-xs-12 font-color-primary">
                <div class="row g-0 d-flex align-items-center">
                    <label class="col-md-2 offset-md-2 col-xs-12 contact-us-label">
                        Name
                    </label>
                    <input type="text" class="col-md-8 col-xs-12 contact-us-input">
                </div>
                <div class="row g-0 d-flex align-items-center">
                    <label class="col-md-2 offset-md-2 col-xs-12 contact-us-label">
                        Phone No.
                    </label>
                    <input type="text" class="col-md-8 col-xs-12 contact-us-input">
                </div>
                <div class="row g-0 d-flex align-items-center">
                    <label class="col-md-2 offset-md-2 col-xs-12 contact-us-label">
                        Email
                    </label>
                    <input type="text" class="col-md-8 col-xs-12 contact-us-input">
                </div>
                <div class="row g-0 d-flex align-items-center">
                    <label class="col-md-2 offset-md-2 col-xs-12 contact-us-label">
                        Inquiry
                    </label>
                    <input type="text-area" class="col-md-8 col-xs-12 contact-us-input">
                </div>
                <div class="row g-0 d-flex align-items-center justify-content-xl-end mt-3 submit-btn-container">
                    <button type="button" class="col-md-8 col-xs-12 submit-btn text-light">Submit</button>
                </div>

            </div>
        </div>


    </div>
</div>