<div class="light-blue-background p-4 pt-160" id="home">
    <div class="container p-4 text-light">
        <div class="row g-0 text-center">
            <div class="col-xs-12 home-section-header-font font-size-text-medium">
                OUR AUTOMATION EXPERTISE
            </div>
            <div class="col-xs-12 col-xs-12 font-size-text-medium font-size-25 mb-80">
                MPS is providing our customers with excellent service while delivering a quality product and services
                accompanied with integrity, professionalism, reliability, and satisfaction. We practice diversity in
                order to meet our customers’ needs.
            </div>
        </div>

        <div class="row g-0 mt-4 d-flex justify-content-between mb-80">
            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 icon-wrapper">
                        <img src="../../../assets/Icon material-build.svg" alt="material-build">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        INSTALLATION
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        When looking for a solution to your facility’s access & control, we educate you about the
                        available
                        options and work towards deciding on the best one. We ensure all gates, doors and shutters are
                        installed
                        with the highest precision and high-quality automation products.
                    </div>
                </div>
            </div>

            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 icon-wrapper">
                        <img src="../../../assets/Icon ionic-ios-settings.svg" alt="settings icon">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        MAINTENANCE
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        Automatic gates and doors are made up of mechanical and electrical components that are often
                        under stress. By performing preventive maintenance you can avoid costly service and preserve
                        your system. We guarantee swift and hassle-free service at your doorstep
                    </div>
                </div>
            </div>

            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 icon-wrapper">
                        <img src="../../../assets/Icon simple-opsgenie.svg" alt="human icon">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        EXPERTISE
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        Our qualified team of technicians and certified engineers are specialized in providing solutions
                        for automating - access and control. From deciding on when to use remote control switch to using
                        hi-tech retina scanner based entry, we do it all.
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-0 mt-4 d-flex justify-content-between mb-130">
            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 text-primary icon-wrapper">
                        <img src="../../../assets/Icon ionic-ios-call - blue.svg" alt="call">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        24/7 SERVICE
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        When looking for a solution to your facility’s access & control, we educate you about the
                        available options and work towards deciding on the best one. We ensure all gates, doors and
                        shutters are installed with the highest precision and high-quality automation products.
                    </div>
                </div>
            </div>

            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 icon-wrapper">
                        <img src="../../../assets/Icon awesome-check-double.svg" alt="check-double icon">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        QUALITY GRAUNTEED
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        Automatic gates and doors are made up of mechanical and electrical components that are often
                        under stress. By performing preventive maintenance you can avoid costly service and preserve
                        your system. We guarantee swift and hassle-free service at your doorstep
                    </div>
                </div>
            </div>

            <div class="col-xl-3 p-5 col-xs-12 home-section-card mt-2">
                <div class="row g-0">
                    <div class="col-xs-12 mb-2 icon-wrapper">
                        <img src="../../../assets/Icon ionic-ios-pricetag.svg" alt="price tag icon">
                    </div>
                </div>
                <div class="row g-0 mb-2">
                    <div
                        class="col-xs-12 home-section-card-header text-uppercase font-color-primary primary-border-bottom">
                        COMPETITIVE PRICE
                    </div>
                </div>
                <div class="row g-0 mt-2">
                    <div class="col-xs-12 home-section-card-text text-dark">
                        Our qualified team of technicians and certified engineers are specialized in providing solutions
                        for automating - access and control. From deciding on when to use remote control switch to using
                        hi-tech retina scanner based entry, we do it all.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>