<div class="container p-4 services-section" id="services">
    <div class="row">
        <div class="col-lg-4 col-md-12 pb-4 mb-lg-0">
            <figure class="position-relative mb-4">
                <img src="../../../assets/maintaince services.jpg" class="w-100 shadow-1-strong rounded mb-2"
                    alt="Maintenance Services" />
                <figcaption class="position-absolute top-0 start-0 bg-caption text-light p-3 text-uppercase">Maintenance
                    Services
                </figcaption>
            </figure>

            <figure class="position-relative">
                <div class="d-flex justify-content-end mb-4">
                    <img src="../../../assets/sliding gates.jpg" class=" shadow-1-strong rounded" alt="Sliding Gates"
                        style="width: 253px; height: 253px;" />
                    <figcaption class="position-absolute top-0 end-0 bg-caption text-light p-3 text-uppercase">
                        Sliding
                        Gates
                    </figcaption>
                </div>

            </figure>

            <figure class="position-relative mt-2">
                <div class="d-flex justify-content-start">
                    <img src="../../../assets/security bollards.jpg" class="shadow-1-strong rounded mb-5"
                        alt="Security Bollards" style="width: 270px; height: 300px;" />
                    <figcaption class="position-absolute top-0 text-center bg-caption text-light p-3 text-uppercase">
                        Security
                        Bollards</figcaption>
                </div>

            </figure>


        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="d-flex justify-content-end">
                <figure class="position-relative">
                    <img src="../../../assets/rolling shutters.png" class="shadow-1-strong rounded"
                        alt="Rolling Shutters" style="width: 340px;" />
                    <figcaption class="position-absolute bottom-0 end-0 bg-caption text-light p-3 text-uppercase">
                        Rolling
                        Shutters</figcaption>
                </figure>
            </div>

            <figure class="position-relative">
                <div class="d-flex justify-content-center">

                    <img src="../../../assets/security turnstiles.jpg" class="w-100 shadow-1-strong rounded mb-4"
                        alt="Security Turnstiles" style="width: 323px; height: 324px;" />
                    <figcaption class="position-absolute top-0 start-0 bg-caption text-light p-3 text-uppercase">
                        Security
                        Turnstiles</figcaption>
                </div>
            </figure>

            <figure class="position-relative">
                <div class="d-flex justify-content-end">
                    <img src="../../../assets/Automatic garage doors.png" class="shadow-1-strong rounded"
                        alt="Garage Doors" style="width: 323px; height: 324px;" />
                    <figcaption class="position-absolute top-0 end-0 bg-caption text-light p-3 text-uppercase">Automatic
                        Garage
                        Doors</figcaption>
                </div>

            </figure>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="position-relative">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/gate barriers.jpg" class="w-100 shadow-1-strong rounded"
                        alt="Gate Barriers" style="width: 422px; height: 281px;" />
                    <figcaption class="position-absolute bottom-0 end-0 bg-caption text-light p-3 text-uppercase">Gate
                        Barriers</figcaption>
                </div>

            </figure>



            <figure class="position-relative">
                <div class="d-flex justify-content-center">
                    <img src="../../../assets/Automatic revolving doors.jpg" class="shadow-1-strong rounded mb-5"
                        alt="Automatic Revolving Doors" style="width: 238px; height: 238px;" />
                    <figcaption
                        class="position-absolute text-center top-0 start-50 translate-middle-x bg-caption text-light p-3 text-uppercase">
                        Automatic Revolving Doors</figcaption>
                </div>

            </figure>

            <figure class="position-relative">
                <img src="../../../assets/Automatic sliding doors.jpg" class="w-100 shadow-1-strong rounded"
                    alt="Automatic Sliding Doors" />
                <figcaption class="position-absolute top-0 end-0 bg-caption text-light p-3 text-uppercase">
                    Automatic
                    Sliding Doors</figcaption>
            </figure>


            <figure class="position-relative">
                <img src="../../../assets/acess control system.jpg" class="w-100 shadow-1-strong rounded"
                    alt="Access Control" />
                <figcaption class="position-absolute bottom-0 start-0 bg-caption text-light p-3 text-uppercase">Access
                    Control</figcaption>
            </figure>





        </div>

    </div>
</div>

<div class="container p-4 mt-50">
    <div class="row g-0 d-flex justify-content-center">
        <div class="w-88 text-center">
            <hr>
        </div>
    </div>
</div>