.caption {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Hurme Geometric Sans 4';
    font-size: 19px;
}

figure {
    transition: transform 0.4s ease-in-out;
}

figure:hover {
    transform: scale(0.9);
    opacity: 0.8;
}

.services-section {
    background-image: url('../../../assets/services\ background.svg');
    background-size: 100% auto;
    background-position: center;
    padding: 50px 0;
    margin-top: 130px;
}

hr {
    border: 2px solid #b5ebf3;
    opacity: 0.7 !important;
}

.w-88 {
    width: 88%;
}

.mt-50 {
    margin-top: 50px;
}

.paragraph-wrapper {
    text-align: center;
    color: #347EB8;
    font: normal normal 300 25px 'Hurme Geometric Sans 4';
}

.arrow {
    color: #347EB8;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.5);
}

.arrow-left {

    margin-right: 10px;
}

.arrow-right {
    margin-left: 10px;
}


@media (max-width: 768px) {
    .services-section {
        padding: 30px 0;
    }

    .img-slider-container {
        width: 300px !important;
        height: 300px !important;
    }

    .img-slider {
        width: 280px !important;
        height: 280px !important;
    }
}

@media (min-width: 768px) {
    .img-slider {
        width: 560px !important;
        height: 600px !important;
    }

    .img-slider-container {
        width: 730px !important;
        height: 730px !important;
    }
}