<div class="container p-4 services-section m-b-5" id="services">
    <div class="row">
        <div class="col-lg-4 col-md-12 pb-4 mb-lg-0">
            <figure class="position-relative mb-4">
                <div (click)="onImageClick('../../../assets/maintaince services.jpg')">
                    <a href="#slider"><img src="../../../assets/maintaince services.jpg"
                            class="w-100 shadow-1-strong rounded mb-2" alt="Maintenance Services" />
                    </a>

                    <figcaption class="position-absolute top-0 start-0 caption text-light p-3 text-uppercase">
                        Maintenance
                        Services
                    </figcaption>
                </div>

            </figure>

            <figure class="position-relative">
                <div class="d-flex justify-content-end mb-4"
                    (click)="onImageClick('../../../assets/sliding gates.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/sliding gates.jpg" class=" shadow-1-strong rounded"
                            alt="Sliding Gates" style="width: 253px; height: 253px;" />
                    </a>
                    <figcaption class="position-absolute top-0 end-0 caption text-light p-3 text-uppercase">
                        Sliding
                        Gates
                    </figcaption>
                </div>

            </figure>

            <figure class="position-relative mt-2">
                <div class="d-flex justify-content-start"
                    (click)="onImageClick('../../../assets/security bollards.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/security bollards.jpg" class="shadow-1-strong rounded mb-5"
                            alt="Security Bollards" style="width: 270px; height: 300px;" />
                    </a>
                    <figcaption class="position-absolute top-0 text-center caption text-light p-3 text-uppercase">
                        Security
                        Bollards</figcaption>
                </div>

            </figure>


        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="d-flex justify-content-end" (click)="onImageClick('../../../assets/rolling shutters.png')">
                <figure class="position-relative">
                    <a href="#slider">
                        <img src="../../../assets/rolling shutters.png" class="shadow-1-strong rounded"
                            alt="Rolling Shutters" style="width: 340px;" />
                    </a>
                    <figcaption class="position-absolute bottom-0 end-0 caption text-light p-3 text-uppercase">
                        Rolling Shutters
                    </figcaption>
                </figure>
            </div>

            <figure class="position-relative">
                <div class="d-flex justify-content-center"
                    (click)="onImageClick('../../../assets/security turnstiles.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/security turnstiles.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Security Turnstiles" style="width: 323px; height: 324px;" />
                    </a>
                    <figcaption class="position-absolute top-0 start-0 caption text-light p-3 text-uppercase">
                        Security
                        Turnstiles</figcaption>
                </div>
            </figure>

            <figure class="position-relative">
                <div class="d-flex justify-content-end"
                    (click)="onImageClick('../../../assets/Automatic garage doors.png')">
                    <a href="#slider">
                        <img src="../../../assets/Automatic garage doors.png" class="shadow-1-strong rounded"
                            alt="Garage Doors" style="width: 323px; height: 324px;" />
                    </a>
                    <figcaption class="position-absolute top-0 end-0 caption text-light p-3 text-uppercase">Automatic
                        Garage
                        Doors</figcaption>
                </div>

            </figure>

        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <figure class="position-relative">
                <div class="d-flex justify-content-center" (click)="onImageClick('../../../assets/gate barriers.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/gate barriers.jpg" class="w-100 shadow-1-strong rounded"
                            alt="Gate Barriers" style="width: 422px; height: 281px;" />
                    </a>
                    <figcaption class="position-absolute bottom-0 end-0 caption text-light p-3 text-uppercase">Gate
                        Barriers</figcaption>
                </div>

            </figure>



            <figure class="position-relative">
                <div class="d-flex justify-content-center"
                    (click)="onImageClick('../../../assets/Automatic revolving doors.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/Automatic revolving doors.jpg" class="shadow-1-strong rounded mb-5"
                            alt="Automatic Revolving Doors" style="width: 238px; height: 238px;" />
                    </a>
                    <figcaption
                        class="position-absolute text-center top-0 start-50 translate-middle-x caption text-light p-3 text-uppercase">
                        Automatic Revolving Doors</figcaption>
                </div>

            </figure>

            <figure class="position-relative">
                <div (click)="onImageClick('../../../assets/Automatic sliding doors.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/Automatic sliding doors.jpg" class="w-100 shadow-1-strong rounded"
                            alt="Automatic Sliding Doors" />
                    </a>
                    <figcaption class="position-absolute top-0 end-0 caption text-light p-3 text-uppercase">
                        Automatic
                        Sliding Doors</figcaption>
                </div>

            </figure>


            <figure class="position-relative">
                <div (click)="onImageClick('../../../assets/acess control system.jpg')">
                    <a href="#slider">
                        <img src="../../../assets/acess control system.jpg" class="w-100 shadow-1-strong rounded"
                            alt="Access Control" />
                    </a>

                    <figcaption class="position-absolute bottom-0 start-0 caption text-light p-3 text-uppercase">Access
                        Control</figcaption>
                </div>
            </figure>





        </div>

    </div>
</div>


<div class="container mt-5 font-family-primary" style="background-color: #f3f6fb;" id="slider">
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center align-items-center">
                <div class="arrow arrow-left" (click)="showPreviousImage()">
                    <i class="fas fa-chevron-left fa-2xl"></i>
                </div>
                <div class="d-flex justify-content-center align-items-center img-slider-container">
                    <img *ngIf="selectedImageSrc" [src]="selectedImageSrc" class="mb-2 img-slider">
                </div>

                <div class="arrow arrow-right" (click)="showNextImage()">
                    <i class="fas fa-chevron-right fa-2xl"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="row g-0">
                <div class="paragraph-wrapper offset-xl-2 col-xl-9 text-left">
                    <div class="">
                        <div class="row">
                            <div>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="font-color-primary mb-3"> <b>{{ selectedImage }}</b></h1>
                                    <p class="font-size-25">{{ selectedImageText }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container p-4 mt-50">
    <div class="row g-0 d-flex justify-content-center">
        <div class="w-88 text-center">
            <hr>
        </div>
    </div>
</div>