.whatsapp-icon {
    transition: transform 0.4s ease-in-out;
}

.whatsapp-icon {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 32px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(0deg);
    }

    50% {
        transform: translateX(5px) rotate(0deg);
    }

    75% {
        transform: translateX(-5px) rotate(0deg);
    }

    100% {
        transform: translateX(0);
    }
}

.whatsapp-icon:hover {
    opacity: 0.9;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.whatsapp-icon i:hover {
    transform: rotate(10deg)
}